[submodule ".claude"]
	path = .claude
	url = https://github.com/Abilityai/trinity-dev.git
	update = checkout
	fetchRecurseSubmodules = true
[submodule "src/backend/enterprise"]
	path = src/backend/enterprise
	url = git@github.com:Abilityai/trinity-enterprise.git
